{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <link rel="stylesheet" href="/public/vendors/feather/feather.css">
    <link rel="stylesheet" href="/public/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/public/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="/public/images/favicon.png" />
</head>

<body>
    {{ template "body" .}}
    <script src="/public/vendors/js/vendor.bundle.base.js"></script>
    <script src="/public/js/off-canvas.js"></script>
    <script src="/public/js/hoverable-collapse.js"></script>
    <script src="/public/js/template.js"></script>
    <script src="/public/js/settings.js"></script>
    <script src="/public/js/todolist.js"></script>
</body>

</html>
{{end}}